.ipynb_checkpoints
__pycache__
*.aux
*.log
*.gz
*.out
events.out.tfevents.*
logdir
log_test
results
.idea
__pycache__
*.pptx
*.docx
.DS_Store
__MACOSX
*.h5
data
testfig
small_data
fig
loss
rpn
train_loss
test_loss
TestCases
.spyproject
fig
result
cnn_output
